pkgbase = wmacpi
	pkgdesc = Battery monitor dockapp for Window Maker that doesn't depend on HAL
	pkgver = 2.3
	pkgrel = 1
	url = http://himi.org/wmacpi/
	arch = i686
	arch = x86_64
	license = GPL
	depends = libdockapp
	source = http://windowmaker.org/dockapps/?download=wmacpi-2.3.tar.gz
	sha1sums = 5e1ef7a96c88418fe84e48440d8a9bcbb665ed4c

pkgname = wmacpi

